* {
  font-family: 'Inter', sans-serif;
}

body {
  height: 100%;
  background-image: url("./images/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-color: black;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  text-align: center;
  /* padding-bottom: 60px; */
  /* height: 100%; */
  font-family: Archivo, Helvetica, sans-serif;
  /* padding-bottom: 60px; */
  /* height: 100%; */
  /* display: block; */
  margin: 0;
  display: flex;
  flex-direction: column;
}

.nav {
  margin-top: 0px;
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 15%;
  margin-bottom: 10px;
  padding-bottom: 5px;
  background-image:  url("./images/transparency-wine.png");
}

.navbar-button {
  background-image:  url("./images/transparent.jpg");
  margin: auto;
  max-width: 33%;
  min-width: 20%;
  padding: 5px 10px;
  border-radius: 50px;
}

.navbar-button a {
  color:white
}

.intro-card {
  /* margin: auto;
  padding: 5px;
  border-width: 2px;
  border-style: ridge;
  border-color: silver;
  width: 50%; */
}

.landing {
  display: block;
  width: 100%;
  height: 100%
}

input {
  border-width: 2px;
  border-style: ridge;
  border-color: silver;
  border-radius: 50px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 5px;
  width: 95%;
}

select {
  padding-left: 15px;
  padding-left: 15px;
  margin: 5px;
  border-width: 2px;
  border-style: ridge;
  border-color: silver;
  border-radius: 50px;
}

button {
  border-width: 2px;
  border-style: ridge;
  border-color: silver;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 5px;
}

.delete_flight {
  margin-bottom: 0px;
}

img {
  width: 100%
}

.Login {
  background-image:  url("./images/transparency-white.png");
}

.Register {
  background-image:  url("./images/transparency-white.png");
}
#flight_image {
  height: 400px
}

.search_card {
  display: flex;
  flex-direction: row;
}

.users_flights {
  width: 100%;
  display: block;
  min-height: 100%;
}



.flight_display {
  width: 99%;
  height: 100%;
  display: block;
  text-align: center;
}

.flights_list {
  width: 100%;
  height: max-content;
}

.flight_pair {
  padding: 10px;
  flex: 0 0 90%;
}

.recipe-poster {
  width: 50%
}

.recipe-instruc {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  height: 50%;
  padding: 2px;
}

.pair_list {
  height: 100%;
  display: flex;
  width: 100%;
  flex-direction: row;
  margin: auto;
  
}

.flight_container {
  width: 100%
}

#flight_pairs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow: auto;
  list-style: none;
  height: 50%;
  width: 100%;
}

/*Wireframe styles*/

.box {
  /* margin: auto; */
  border-style: ridge;
  border-color: silver;
  border-width: 2px;
  background-image: url("./images/transparent.jpg");
  /* padding: 5px */
}

section.footer {
  flex-shrink: 0;
  /* color: white; */
  /* margin-top: auto;
  height: 75px;
  margin-top: -75px; */
  border-width: 2px;
  border-style: ridge;
  border-color: silver;
  background-image: url("./images/transparency-white.png");
}

.foot {
  flex: 1 0 auto;
  height: max-content;
  color: white;
}

._deflightte {
  padding: 30px;
  padding-bottom: 75px;
}