/*Super responsive styling!*/

/* Overall styling*/

/* Static styles. Navbar, header, footer*/

/* body {
  border: 3px solid white;
} */

* {
  font-family: 'Inter', sans-serif;
}

body {
  height: 100%;
  background-image: url("./images/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-color: black;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  text-align: center;
  /* padding-bottom: 60px; */
  /* height: 100%; */
  font-family: Archivo, Helvetica, sans-serif;
  /* padding-bottom: 60px; */
  min-height: 200vw;
  /* display: block; */
  margin: 0;
  display: flex;
  flex-direction: column;
}

.nav {
  margin-top: 0px;
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 15%;
  margin-bottom: 10px;
  padding-bottom: 5px;
  background-image:  url("./images/transparency-wine.png");
}

.navbar-button {
  background-image:  url("./images/transparent.jpg");
  margin: auto;
  max-width: 33%;
  min-width: 20%;
  padding: 5px 10px;
  border-radius: 50px;
}

.navbar-button a {
  color:white
}

.intro-card {
  margin: 5px;
  /* margin: auto; */
  padding: 5px;
  /* border-width: 2px;
  border-style: ridge;
  border-color: silver;
  width: 50%; */
}

.welcome {
  /* color: white; */
  width: 75%;
  font-size: 15vw;
  border-radius: 50px;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  background: linear-gradient( 
90deg
, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0.25) 100%);
}

.landing {
  display: block;
  width: 100%;
  height: 100%
}

/*Forms and buttons*/
.search-params {
  background: linear-gradient(
    90deg
    , rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0.25) 100%);
}

form {
  font-size: 4vw;
}
input {
  border-width: 2px;
  border-style: ridge;
  border-color: silver;
  border-radius: 50px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 5px;
  font-size: 4vw;
  /* width: 95%; */
}

select {
  padding-left: 15px;
  padding-left: 15px;
  margin: 5px;
  border-width: 2px;
  border-style: ridge;
  border-color: silver;
  border-radius: 50px;
}

button {
  border-width: 2px;
  border-style: ridge;
  border-color: silver;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 5px;
}

textarea {
  width: 95%;
  font-size: 4vw;
  height: 75px;
  padding-left: 20px;
  padding-right: 20px;
  border-width: 2px;
  border-style: ridge;
  border-color: silver;
  border-radius: 50px;
  display: block;
  margin: auto;
}

.delete_flight {
  margin-bottom: 0px;
}

img {
  /* width: 100% */
}

.Login {
  background-image:  url("./images/transparency-white.png");
}

.Register {
  background-image:  url("./images/transparency-white.png");
}
#flight_image {
  width: 100%;
  height: auto;
}

.search_card {
  display: flex;
  flex-direction: row;
  /* display: flex; */
  /* flex-direction: row; */
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  list-style: none;
  width: 100%;
}

.entries {
  display: flex;
  flex-direction: column;
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: flex-start;
  flex-wrap: nowrap;
  overflow: auto;
  list-style: none; */
}

.search-wrap {
  display: table;
    width: 200vw;

}
.search_poster {
  width: 120vw;
  display: table-cell;
}

.search-deets {
  width: 100vw;
  display: table-cell;
}

.users_flights {
  width: 100%;
  display: block;
  min-height: 100%;
}



.flight_display {
  width: 99%;
  height: 100%;
  display: block;
  text-align: center;
}

.flights_list {
  width: 100%;
  height: max-content;
}

.flight_pair {
  padding: 10px;
  flex: 0 0 150vw;
}

.recipe-poster {
  display: table-cell;
  width: 50%;
}

.recipe-instruc {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  height: 100vw;
  overflow: scroll;
  padding: 2px;
  /* position: absolute; */
  /* background: rgba(29, 106, 154, 0.72); */
  color: #fff;
  /* visibility: hidden; */
  /* opacity: 0; */
}

.bev_pair a {
  color: gold;
}

.recipe-instruc a {
  color: gold;
}

.bev_pair h3{
  font-style: italic;
}

.pair_list {
  height: 100%;
  display: table;
  width: 100%;
  flex-direction: row;
  margin: auto;
}

.flight_container {
  width: 100%
}

#flight_pairs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow: auto;
  list-style: none;
  height: 50%;
  width: 100%;
}

/*Wireframe styles*/
.bev_pair a {
  color: gold;
}
.box {
  /* margin: auto; */
  border-style: ridge;
  border-color: silver;
  border-width: 2px;
  background-image: url("./images/transparent.jpg");
  /* padding: 5px */
}

section.footer {
  flex-shrink: 0;
  /* color: white; */
  /* margin-top: auto;
  height: 75px;
  margin-top: -75px; */
  border-width: 2px;
  border-style: ridge;
  border-color: silver;
  background-image: url("./images/transparency-white.png");
}

.foot {
  flex: 1 0 auto;
  height: max-content;
  color: white;
  margin-bottom: 50px;
}

/* ._deflightte {
  padding: 30px;
  padding-bottom: 75px;
} */

@media only screen and (min-width: 320px) {
  body {
    border: 3px solid purple;
  }
}

@media only screen and (min-width: 480px) {
  body {
    border: 3px solid green;
  }
  .recipe-poster {
    display: table-cell;
    width: 45%;
}
.flight_pair {
  padding: 10px;
  flex: 0 0 125vw;
}
.search-wrap {
  /* display: table; */
  width: 150vw;
}
textarea {
  width: 95%;
  /* font-size: 4vw; */
  height: 10vw;
  /* padding-left: 20px;
  padding-right: 20px;
  border-width: 2px;
  border-style: ridge;
  border-color: silver;
  border-radius: 50px;
  display: block;
  margin: auto; */
}
  /* li.loot_drop {
    width: 49%;
  }
  .intro-card {
    width: 74%;
  }
  input {
    width: 75%;
  } */
}

/*Android landscape*/

@media only screen and (min-width: 640px) {
  body {
    border: 3px solid pink;
  }
  .flight_pair {
    padding: 10px;
    flex: 0 0 75vw;
}
.recipe-instruc {
  height: 50vw;
}
.intro-card {
  /* margin: 5px; */
  width: 50vw;
  font-size: 3vw;
  margin: auto;
  margin-top: 5px;
  /* padding: 5px; */
}
input {
  /* border-width: 2px;
  border-style: ridge;
  border-color: silver;
  border-radius: 50px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 5px; */
  font-size: 3vw;
  /* width: 95%; */
}
.search-wrap {
  /* display: table; */
  width: 125vw;
}
.recipe-instruc {
  height: 30vw;
  font-size: 2vw;
}
  /* li.loot_drop {
    width: 32%;
  }
  .intro-card {
    width: 32%;
  }
  input {
    width: 50%;
  }
  .search-results h3 {
    width: 50%;
  } */
}

/*iPad potrait*/

@media only screen and (min-width: 768px) {
  body {
    border: 3px solid red;
  }
  .recipe-instruc {
    height: 40vw;
}
.search-wrap {
  /* display: table; */
  width: 115vw;
}
textarea {
  /* width: 95%; */
  font-size: 2vw;
  /* height: 10vw; */
}
input {
  font-size: 2vw;
  /* width: 95%; */
}


  /* .intro-card {
    width: 32%;
  } */
}

/*iPad lanscape / small laptop*/

@media only screen and (min-width: 1024px) {
  body {
    border: 3px solid blue;
  }
  .recipe-instruc {
    height: 30vw;
}
.search-wrap {
  /* display: table; */
  width: 100vw;
}
  /* li.loot_drop {
    width: 24%;
  } */
}

/*large desktop*/

@media only screen and (min-width: 1600px) {
  body {
    border: 3px solid yellow;
  }
  li.loot_drop {
    width: 19%;
  }
}